* {
    box-sizing: border-box;
}

#performance {
    width: 60%;
    height: auto;
    margin: auto;
    box-shadow: 0px 0px 30px saddlebrown inset;
    background: radial-gradient(white, papayawhip, antiquewhite);
    padding: 30px;
}
